<!DOCTYPE html>
<html lang="en">
<head th:replace="common/header :: common-header" />
<body>
<div th:replace="common/navbar :: common-navbar" />
<div class="container">
    <div class="row" style="justify-content: center">
<div style="min-height: 1200px;padding: 50px">
    <form th:action="@{/ingredient}" method="post" th:object="${ingredient}" style="display: flex;justify-content: center;text-align: center">
        <div style="width: 50%;">
            <h1>Ingredient</h1>
            <div class="input-group mb-3" hidden>
                <span class="input-group-text" id="basic-addon1">Id</span>
                <input readonly th:field="*{id}" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" >
            </div>
            <div class="input-group mb-3" >
                <span class="input-group-text" id="basic-addon2">Name</span>
                <input th:field="*{name}" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3" >
                <span class="input-group-text" id="basic-addon3">Day Bought</span>
                <input th:field="*{day_bought}" type="date" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div>
                <span class="input-group-text" id="basic-addon3">Unit</span>
                    <select th:field="*{unit}" class="form-control">
                        <option th:each="unit : ${unitList}"
                                th:text="${unit.name}"
                                th:value="${unit.id}">
                    </select>
            </div><br>
            <div class="input-group mb-3" >
                <span class="input-group-text" id="basic-addon5">Quantity</span>
                <input th:field="*{quantity}" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3" >
                <span class="input-group-text" id="basic-addon6">Price</span>
                <input  th:field="*{price}" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>

            <input class="btn btn-success" type="submit" value="Edit">
        </div>

    </form>
</div>
    </div>
</div>
<footer th:replace="common/footer :: footer-script"/>
</body>
</html>
