<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager Page</title>
</head>
<body>
    <H1>Hello manager!!!</H1>
    <table>
        <tr>
            <td>Manage rental fee</td>
            <td>Manage menu list</td>
        </tr>
        <tr>
            <td>Manage ingredient</td>
            <td>Manage order</td>
        </tr>
        <tr>
            <td>Manange employee</td>
            <td>View feedback</td>
        </tr>
        <tr>
            <td>View sale dashboard</td>
        </tr>
    </table>
</body>
</html>