<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FCanteen - Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="h-full gradient-form bg-gray-200 md:h-screen">
    <div class="container py-12 px-6 h-full">
        <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
            <div class="xl:w-10/12">
                <div class="block bg-white shadow-lg rounded-lg">
                    <div class="lg:flex lg:flex-wrap g-0">
                        <div class="lg:w-6/12 px-4 md:px-0">
                            <div class="md:p-12 md:mx-6">
                                <div class="text-center">
                                    <h4 class="text-xl font-semibold mt-2 mb-6 pb-1">Fcanteen Service - Sign up</h4>
                                </div>
                                <form th:action="@{/signup}" method="post" th:object="${user}">
                                    <div class="mb-4">
                                        <input
                                                th:field="*{phone}"
                                                type="text"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="phone"
                                                placeholder="Phone number"
                                                name="phone"
                                        />
                                    </div>
                                    <div class="mb-4">
                                        <input
                                                th:field="*{address}"
                                                type="text"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="address"
                                                placeholder="Address"
                                                name="address"
                                        />
                                    </div>
                                    <div class="mb-4">
                                        <input
                                                th:field="*{username}"
                                                type="text"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="username"
                                                placeholder="Username"
                                                name="username"
                                        />
                                    </div>
                                    <div class="mb-4">
                                        <input
                                                th:field="*{password}"
                                                type="password"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="password"
                                                placeholder="Password"
                                                name="password"
                                        />
                                    </div>
                                    <div class="mb-4">
                                        <input
                                                type="password"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="confirm-password"
                                                placeholder="Confirm Password"
                                                name="confirm-password"
                                        />
                                    </div>
                                    <div class="flex justify-between">
                                        <div class="mb-4">
                                            <input
                                                    th:field="*{first_name}"
                                                    type="text"
                                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                    id="first_name"
                                                    placeholder="First Name"
                                                    name="first_name"
                                            />
                                        </div>
                                        <div class="mb-4">
                                            <input
                                                    th:field="*{last_name}"
                                                    type="text"
                                                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                    id="last_name"
                                                    placeholder="Last Name"
                                                    name="last_name"
                                            />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <input
                                                th:field="*{email}"
                                                type="email"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="email"
                                                placeholder="E-mail"
                                                name="email"
                                        />
                                    </div>
                                    <div class="mb-4 flex items-center justify-between">
                                        <p th:if="${message}" class="error danger" style="color: red">Sign up failed!</p>
                                    </div>
                                    <div class="text-center pt-1 mb-12 pb-1">
                                        <input
                                                class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                                                type="submit"
                                                data-mdb-ripple="true"
                                                data-mdb-ripple-color="light"
                                                style="
                        background: linear-gradient(
                          to right,
                          #ee7724,
                          #d8363a,
                          #dd3675,
                          #b44593
                        );
                      "
                                                value="Sign up"
                                        />
                                        <a class="text-gray-500" href="/login">Login here</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div
                                class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                                style="
                background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
              "
                        >
                            <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                                <h4 class="text-xl font-semibold mb-6">We are more than just a company</h4>
                                <p class="text-sm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>